.Home{
    padding-top:50px;
}
.brandName{
    color: orange;
}
.img{
    width:100%;
    height:350px;
    border-radius:15px;
    margin-top:8px;
}
.p-tag{
    color:darkorange;
}
.btn{
    margin-top: 15px;
    border-radius: 20px;
    padding: 5px 15px;
}
