.Login span{
    color:orange;
}
.Login button{
    width:100%;
    
}
.form{
    border:1px solid black;
    padding: 10px 50px;
}

.Button{
    border:1px solid black;
    font-weight: bold;
}
.Button img{
    width:30px;
    float: left;
}